
* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 60%;
    padding: 20px;
}


.card {
    border: 1px solid #ddd;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.card .header p {
    color: #7C3AED;
    font-weight: 600;
    margin-bottom: 1em;
}

.card .header h3 {
    font-weight: 700;
    color: #1E293B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.card .header h3 strong {
    font-weight: 700;
    color: #1E293B;
}

.featured .header h3{
    font-weight: 700;
    color: #F8FAFC;
}


.card button {
    background-color: transparent;
    border: 2px solid #ccc;
    color: #1E293B;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.card button:hover {
    background-color: #1E293B;
    color: white;
}

.featured {
    background-color: #0F172A;
    color: white;
}

.featured button {
    background-color: #996DFF;
    color: white;
}

.featured p, .featured h3, .featured h3 strong {
    color: white;
}

/* Content Styles */
.content {
    border-top: 1px solid #ccc;
    margin-top: 1em;
    padding-top: 1em;
}

.content ul {
    list-style-type: none;
}

.content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.content img {
    width: 18px;
    height: auto;
}


@media (max-width: 768px) {
    .card-container {
        width: 90%;
    }

    .card button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
